!/.magento.app.yaml
!/.magento.env.yaml
!/.magento
!/.magento/**
!/app
!/app/*/
!/app/code/**
!/app/design/**
!/app/etc/config.php
!/app/i18n/**
!/build_options.ini
!/composer.json
!/composer.lock
!/Jenkinsfile
!/magento-vars.php
!/m2-hotfixes
!/m2-hotfixes/**
!/php.ini
!/update
!/update/.htaccess
!/op-exclude.txt
!/patches
!/pub/.htaccess
!/pub/errors
/.magento.env.md
/CHANGELOG.md
/Gruntfile.js.sample
/README_EE.md
/SECURITY.md
/auth.json.sample
/grunt-config.json.sample
/package.json.sample
/.magento/local
/bin
/lib
/.buildpath
/.cache
/.metadata
/.project
/.settings
/.docker
/.vscode
/.editorconfig
/auth.json
atlassian*
/nbproject
/robots.txt
/phpserver
/setup
/sitemap
/sitemap.xml
/pub/sitemap
/pub/sitemap.xml
/pub/*.*
/pub/opt
/.idea
/.gitattributes
/app/etc/env.php
/app/code/Magento/TestModule*
/node_modules
/.grunt
/Gruntfile.js
/package.json
/.php_cs
/.php_cs.cache
/.php-cs-fixer.php
/.php-cs-fixer.cache
/grunt-config.json
/pub/media/*
/pub/static/*
/dev/*
/var/*
/vendor/*
/generated/*
.DS_Store